html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
#main {
    /* padding-bottom: 40px; */
    width: 1200px;
    margin-top: 10px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: calc( 50% - 600px);
    color: white;
    position: relative;
    min-height: 600px;
    padding-bottom: 30px;
}
#main-title {
    height:40px;
    width: 1200px;
    margin: 10px auto 0 calc(50% - 600px);
    background-color: #282828;
    font-size: 30px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;

}
#title-text{
    line-height: 40px;
    /* font-family: "League Gothic", Impact, sans-serif; */
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
    position: absolute;
}
@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
    from { top: -10px;}
    to { top: 0px;}
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
    from { top: -10px;}
    to { top: 0px;}
}

@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
    from { top: -10px;}
    to { top: 0px;}
}
#content{
    display: inline-block;
    /* margin-left: calc( 50% - 500px); */
    height: 400px;
    width: 100%;
}

#question {
    margin: 0px auto 0 auto;
    text-align: center;
    display: none;
    position: relative;
}
#title-question{
    /* background-color: #2A7BD8; */
    background-image: linear-gradient(#102693, #3366FF);
    padding : 10px;
    border: 3px solid #FFC956;
    border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#answers {
    width: 800px;
    margin: 10px auto 10px auto;
}
.answer {
    text-align: left;
    width: 35%;
    height: 50px;
    padding-left: 30px;

}
.checked{
    background-image: linear-gradient(#B76B27, #FFCB7A);
}
.no-checked{
    background-image: linear-gradient(#102693, #3366FF);
}
/* .no-checked:hover{
    background-image: linear-gradient(#FFC956, #FFF5D2);
} */
td {
    border: 3px solid #CDF8FE;
    border-radius: 10px;
}
/* .answer:hover {
    background-color: #FFCD6F;
} */
#noti-endgame{
    width: 300px; 
    height: 200px; 
    display: none;
    position: absolute;
    top: 40%;
    left: 35%;
    opacity: 0.7;
    background-color:#ADC8FF;
    z-index: 2;
}
#noti-wingame{
    width: 400px; 
    height: 300px; 
    display: none;
    position: absolute;
    top: 40%;
    left: calc(100% -200px);
    background-color: #CDF8FE;
    z-index: 2;
}
#line-life {
    display: none;
    margin: 5px;
}
#start-board{
    /* margin-top : 350px; */
    /* margin-left: calc( 50% - 75px); */
    text-align: center;
}
input {
    height: 30px;
    width: 200px;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
    border: 0;
    border-bottom: 2px solid #1976D2;
    background: transparent;
	color: #BBDEFB;

}
input:focus {
    outline: 0;
       color: #BBDEFB;
   }
   
input::placeholder {
    color: #1976D2;
   }
#start {
    width: 150px;
    height: 60px;
    background-image: linear-gradient(#B76B27, #FFCB7A);
    border: 3px solid #CDF8FE;
    border-radius: 20px;
    margin-left: calc( 50% - 75px);
    display: block;
    color: white;
}
#guide {
    width: 150px;
    height: 60px;
    background-image: linear-gradient(#102693, #3366FF);
    border: 3px solid #CDF8FE;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: calc( 50% - 75px);
    display: block;
    color: white;
}
#submit-answer{
    width: 250px;
    height: 30px;
    background-image: linear-gradient(#102693, #3366FF);
    /* position: absolute; */
    margin-left: calc( 50% - 125px);
    color: white;
    border-radius: 20px;
}
#stop-game{
    height: 30px;
    background-image: linear-gradient(#102693, #3366FF);
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
    color: white;

}
#logo{
    background-image: url(img/logo.png);
    background-size: 100% 100%;
    height: 220px;
    width: 220px;
    position: absolute;
    top: 45px;
    left: calc( 50% - 110px);
    z-index: 1;
}
#question-board{
    /* font-family: fantasy; */
    background-image: linear-gradient(#102693, #3366FF);
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 5px;
    font-size: 90%;
    display: none;
    border-radius: 20px;
    z-index: 1;
    border: 3px solid #1B87E6;
    /* box-shadow: 5px 10px #888888; */
}
#ask-professor-board{
    display: none;
    width: 255px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: calc( 50% - 125px);
    z-index:2;

}
.level-question{
    padding: 2px 5px 2px 5px;
}
#ask-viewer-board-result{
    width: 255px;
    height: 250px;
    background-color: teal;
    position: absolute;
    top: 20px;
    display: none;
    left: calc( 50% - 125px);
    z-index:2;
    background-color: cadetblue;

}
.percent {
    display: inline-block;
    padding: 10px;
    height: 100%;
    width: 40px;


}
.column{
    width: 35px;
    height: 0px;
    width: 100%;
    -webkit-transition: height 2.5s ease;
    transition: height 2.5s ease;
    background-image: linear-gradient(#3366FF, #102693);
}
